.login {
    display: flex;
    min-height: 90vh;
    min-width: 90vw;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

.remember-box {
    margin: 10px;
}

.login-error {
    margin-top: 20px;
}