.circleDiagram {
    padding-top: 20px;
    margin: 0 auto;
    width: 20%;
    padding-bottom: 20px;
}

.mainLayout {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}

.diagram-info {
    margin: 0 auto;
    text-align: center;
}