.main-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.last-transactions-table > h2 {
    text-align: center;
}

.last-transactions-table {
    width: 100%;
}